[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Delta Patcher
Type=Application
Terminal=false
Icon[it_IT]=/usr/share/deltapatcher/img/icon.png
Name[it_IT]=Delta Patcher
Exec=deltapatcher
Comment[it_IT]=XDelta patching Utility
Comment=Delta Patcher
Icon=/usr/share/deltapatcher/img/icon.png
GenericName[it_IT]=XDelta patching Utility
